body {
    background-color:white;
}

div#nav {
    display:none;
}

ul.nav-tabs {
    display:none;
}

form.summary-search-form {
    display:none;
}

div#content > div > h1:first-child {
    display:none;
}
