* {
    font-family: 'Ropa Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #91b496;
}

a:hover {
	color: #919191;
}

#banner {
	background-color: white;
}

body {
    background-image:url('images/brushed_alu_dark.png');
}

#content {
	padding: 10px 15px 10px 15px;
	overflow: auto;
}

h1 {
	text-align: center;
	padding: 15px 0px;
}

#content th {
	text-align: left;
}

div #thedate {
	width: 250px;
	float: left;
	padding: auto;
}

#footer {
    margin:0 auto;
	max-width: 960px;
}

h1 {
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.message {
	border-radius: 4px;
	border: 1px solid #919191;
	background-color: #91b496;
	padding: 6px;
	margin: 10px 0px;
	text-align: center;
}

h4.dateresults {
	text-transform: uppercase;
	font-size: 15pt;
	color: #91b496;
	margin-top: 0px;
	margin-bottom: 0px;
}


a.logout:hover {
	color: #919191;
}

td {
	padding: 5px 0px;
}

th {
	padding: 5px 0px;
}

tr.colored {
	background-color: #E7E7EF;
}

tr.head div {
	text-align: center;
	padding: 10px 0px;
	width: 190px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #91b496;
	margin: 0px 0px;
}

div.confirm {
	text-align: center;
}

#wrapper {
    margin:0 auto;
	max-width: 960px;
	margin-top: 5px;
	font-family: "Georgia", "Times New Roman";
	background-color: white;
}

#calendar {
	margin: 0 auto;
}

#userinfo p {
	float: right;
	margin: 0px;
}

a.admin {
	font-size: 11px;
}

.clear {
	clear: both;
}

.add {
	margin: 3px;
}

.admindelete {
	opacity: 0;
}

@keyframes fade {
   0% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fade {
   0% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fade {
   0% {
      opacity: 0.4;
   }
   100% {
      opacity: 1;
   }
}

tr.hover .admindelete {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1s;
   -moz-animation-name: fade;
   -moz-animation-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
   opacity:1;
}

.attention {
    padding:5px;
    border: 2px solid orange;
    border-radius:3px;
    -moz-border-radius:3px;
}

ul.nav > li > a {
    font-size:12px;
}

div.alert > h4 {
    color:#000;
    font-weight:normal;
}

div.alert {
    color:#000;
    font-weight:normal;
}

ul.adminpage > li > a {
    padding-left:6px;
    padding-right:6px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: white;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-password {
    max-width: 400px;
}

div.logincontainer {
    margin-top:40px;
}

div#nav {
    max-width:960px;
    margin:0 auto;
    margin-top:10px;
}

div.navbar {
    margin-bottom:0;
}

span.dropdown a {
    color:black;
}
